{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h1 class="animate__animated animate__bounce">Hola {{username.fullname}}</h1>
<br>
<br>
<H1>TODO App</H1>
<br>
<form action="/add" method="post">
    <input type="text" name="title" placeholder="Ingrese la tarea que desea agregar">
    <button class="btn btn-primary" type="submit"> Agregar Tarea</button>
</form>
<br>
<!-- Mostrar tabla de tareas -->
{% for todo in todos%}
<p>{{todo.id}} - {{todo.title}} -
    {% if todo.state == True %}
    <button class="btn btn-danger">Descompletar</button>
    {%else%}
    <button class="btn btn-success">Completar</button>
    {%endif%}
</p>
{% endfor%}


{% endblock %}